:root {
  --mdc-theme-primary: #212121 !important;
  --mdc-theme-on-surface: #9e9e9e !important;
}
body {
  background-color: #212121;
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
	color: #ffffff !important;
}
.mdc-drawer .mdc-list-item--activated {
	color: #ffffff !important;
}
.mdc-drawer .mdc-list-item__graphic {
	color: #9e9e9e;
}
.mdc-drawer .mdc-list-item {
	color: #9e9e9e;
}
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
	background-color: #9e9e9e;
}
.mdc-list-divider {
	border-bottom-color: #494949;
}
.mdc-drawer--modal + .mdc-drawer-scrim {
	background-color: rgba(66,66,66,.32);
}
.mdc-drawer .mdc-list-group__subheader {
	color: #9e9e9e;
}
.mdc-drawer {
	background-color: #212121;
}
.mdc-tab-indicator > .mdc-tab-indicator__content--underline {
	background-color: #ffffff;
}
.mdc-tab-scroller__scroll-content {
	background-color: #424242;
}
.mdc-tab--active .mdc-tab__icon {
	color: #ffffff;
}
.mdc-tab--active .mdc-tab__text-label {
	color: #ffffff;
}
.mdc-tab__ripple::before, .mdc-tab__ripple::after {
	background-color: #ffffff;
}
