:root {
  --mdc-theme-primary: #0d2332;
}
:focus {
  outline: none !important;
}
.mdc-top-app-bar__title {
  font-weight: 400;
  letter-spacing: .02em;
}
.centered-page-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic, .mdc-drawer .mdc-list-item--activated {
  color: #0d2332;
}
