:root {
  --mdc-theme-primary: #0d2332;
}
:focus {
  outline: none !important;
}
.mdc-top-app-bar__title {
  font-weight: 400;
  letter-spacing: .02em;
}
.centered-page-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.layout-tab-item {
  display: none;
}
@media (min-width: 840px) {
  .layout-grid-desktop .mdc-layout-grid__inner {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .mdc-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)!important;
  }
}
.card-body-text {
  padding: 0 1rem 8px;
  color: rgba(0,0,0,.54);
}
.card-title-text {
  padding: 1rem;
}
.card-title-headline {
  margin: 0;
}
.rounded-corner-card {
  border-radius: 24px 24px;
}
.fixed-size-background-img {
  height: 250px;
}
.otw-card-background {
  background: url("../Image_Assets/Resources_Tab/otw_card_image2.jpg") center/cover no-repeat;
  height: 250px;
}
.replit-card-background {
  background: url("../Image_Assets/Resources_Tab/replit_card_image.png") #0d2332 center/cover no-repeat;
}
.smashthestack-card-background {
  background: url("../Image_Assets/Resources_Tab/STS_card_image.png") #0d2332 center/cover no-repeat;
}
.cybrary-card-background {
  background: url("../Image_Assets/Resources_Tab/Cybrary_card_image.png") #0d2332 center/cover no-repeat;
}
.udacity-card-background {
  background: url("../Image_Assets/Resources_Tab/udacity_card_image.png") #0d2332 center/cover no-repeat;
}
.codewars-card-background {
  background: url("../Image_Assets/Resources_Tab/codewars_card_image2.png") #0d2332 center/cover no-repeat;
}
.codecademy-card-background {
  background: url("../Image_Assets/Resources_Tab/codecademy_card_image.png") #0d2332 center/cover no-repeat;
}
.reeeeeee-card-background {
  background: url("../Image_Assets/Resources_Tab/binary_card_image.gif") #0d2332 center/cover no-repeat;
}
.cyberchallenge-card-background {
  background: url("../Image_Assets/Resources_Tab/cyberchallenge_card_image.png") #0d2332 center/cover no-repeat;
}
.picoctf-card-background {
  background: url("../Image_Assets/Resources_Tab/picoctf_card_image.png") #0d2332 center/cover no-repeat;
}
.endorsement-card-background {
  background: url("../Image_Assets/Resources_Tab/endorsement_card_image.png") #0d2332 center/cover no-repeat;
}
.hak5-card-background {
  background: url("../Image_Assets/Resources_Tab/hak5_card_image.png") #9e9e9e center/cover no-repeat;
  background-size: 100%;
}
